<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>my-blog-new</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h3>まい　ぶろぐ　新規記事の投稿ページ</h3>
<from action="" method="post">
    {% csrf_token %}
    <p><label for="title_input">記事のタイトル</label></p>
    <p><input type="text" name="title" id="title_input"></p>
    <p><label for="text_area">記事の本文</label></p>
    <p><textarea name="text" id="text_area" cols="30" rows="10"></textarea></p>
    <p><button type="submit">投稿</button></p>
</from>

</body>
</html>